.content {
    display: flex;
    justify-content: space-between;
}

article { /* Adjust as needed */
    float: left;
}

aside {
    width: 30%; /* Adjust as needed */
    float: right;
}

aside img {
    width: 100%;
    height: auto;
}
