h1{
    text-align: center;
}

.image{
    width: 600;
    height: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

body{
    background-color: grey;
}