.registerbtn {
  height: 40px;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #ccc; 
  border-radius: 10px;   
  padding: 10px;
  position: relative;
  cursor:pointer;
  vertical-align: auto;
  }
  .registerbtn:hover{
    background-color: rgb(248, 224, 7);
    
  }


fieldset{
  width: 70px;
  text-align: center;
  margin: auto;
}  

img{
  width: 200;
}

legend{
  background-color:white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1{
  text-align: center;
}

.bordo{
  border: 2px solid #ccc; 
  border-radius: 10px;   
  padding: 10px; 
}

body{
  background-color: whitesmoke;
}

fieldset{
  background-color: white;
}

legend{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}