.registerbtn {
    border: 1px solid black;
    height: 60px;
    position: relative;
  }

  button {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }

fieldset{
  width: 70px;
  text-align: center;
  margin: auto;
}  

img{
  width: 200;
}

legend{
  background-color:white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1{
  text-align: center;
}

